/* GENERAL */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    color:rgb(85,85,85);
}
/* TRANSISTION */
a, 
.btn{
    transition:all 300ms ease;
}
 /* desktop nav */
 nav,
.nav-links{
    display: flex;
 }
 
 nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
 }
 
  .nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
 } 
 
  a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
 }
 
  a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
 } 
 .logo{
    font-size: 2rem;
 }
 .logo:hover{
    cursor: default;
 } 
 
  
 /* HAMBURGER menu */
 #hamburger-nav{
   display: none;
} 
  .hamburger-menu{
   position: relative;
   display:inline-block;
 }

 .hamburger-icon{
display: flex;   
flex-direction: column;
justify-content: space-between;
height: 24px;
width: 30px;
cursor: pointer;
 }
  
 .hamburger-icon span{
   width: 100%;
   height: 2px;
   background-color: black;
   transition: all 0.3 ease-in-out;
 }
  .menu-links{
   position: absolute;
   top:100%;
   right : 0;
   background-color: white;
   width: fit-content;
   max-height: 0;
   overflow: hidden;
   transition:all 0.3 ease-in-out;
  }
  
  .menu-links a{
   display: block;
   padding: 10px;
   text-align: center;
   font-size: 1.5rem;
   color: black;
   text-decoration: none;
   transition: all 0.3 ease-in-out;
  }

  .menu-links li{
   list-style: none;
  }
  
  .menu-links.open{
   max-height: 300px;
  }

  .hamburger-icon.open span:first-child{
   transform: rotate(45deg) translate(10px,5px);
  }

  .hamburger-icon.open span:nth-child(2){
  opacity: 0;
  }

  .hamburger-icon.open span:last-child{
   transform: rotate(-45deg) translate(10px,-5px);
  }

  .hamburger-icon span:first-child{
   transform: none;
  }

  .hamburger-icon span:first-child{
   opacity: 1;
  }

  .hamburger-icon span:first-child{
   transform: none;
  }

/* section */
section{
   padding-top: 4vh;
   height: 96vh;
   margin: 0 10rem;
   box-sizing: border-box;
   min-height: fit-content;
}

.section-container{
   display: flex;
}

/* PROFILE section */
#profile{
   display: flex;
   justify-content: center;
   gap:5rem;
   height: 85vh;
   
}

.section-pic-container{
   display: flex;
   height: 400px;
   width: 400px;
   margin: auto 0;
}

.section__text{
   align-self: center;
   text-align: center;
}
   
.section__text p{
   font-weight: 600;
}

.section__text__p1{
   text-align: center;
}

.section__text__p2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title{
   font-size: 3rem;
   text-align: center;
}

#socials-container{
   display: flex;
   justify-content: center;
   margin-top: 1rem;
   gap: 1rem;
}
/* icon */

.icon{
   cursor: pointer;
   height: 2rem;
}

/* buttons */

.btn_containers{
    display: flex;
    justify-content: center;
    gap:1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2{
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover{
    background-color: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover{
    background:rgb(0, 0, 0);
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border: rgb(255,255, 255) 0.1rem solid;
}

.btn_container{
    gap: 3rem;
}

/* ABOUT section */

#about{
   position: relative;
}

.about-containers {
   gap: 2rem;
   margin-bottom: 2rem;
   margin-top: 2rem;
}

.about-details-container {
justify-content: center;
flex-direction: column;
}

.about-containers,
.about-details-container {
   display:flex;
}

.about-pic {
   border-radius: 2rem;
}

.arrow {
   position: absolute;
   right: 5rem;
   bottom: 2.0rem;
}

.details-container {
   padding: 1.5rem;
   flex: 1;
   background: white;
   border-radius: 2rem;
   border: rgb(163, 183, 183) 0.1rem solid;
   border-color: rgb(163, 163, 163);
   text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section-pic-containers {
height: 400px;
width: 400px;
margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience{
position: relative;
}

.experience-sub-title{
   color:rgb(85, 85, 85);
   font-weight: 600;
   font-size: 1.75rem;
   margin-bottom: 2rem;
}

.experience-details-container{
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.article-container{
display: flex;
text-align: initial;
flex-wrap: wrap;
flex-direction: row;
gap: 3rem;
justify-content: space-around;
}

article{
display: flex;
width: 10rem;
justify-content: space-around;
gap: 0.5rem;
}

article .icon{
   cursor: default;
}

/* PROJECTS SECTION */

#projects {
   position: relative;
}

.color-containers {
   border: rgb(163, 163, 163);
   background: rgb( 250, 250, 250);
   
}

.project-img {
   border-radius: 2rem;
   width: 90%;
   height: 90%;
}

.project-title {
   margin: 1rem;
   color: black;
}

.project-btn {
   color: black;
border-color: rgb(163, 163, 163);
}

/* CONTACT */

#Contact{
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 7vh;
}

.Contact-info-upper-container {
   display: flex;
   justify-content: center;
   border-radius: 2rem;
   border: rgb(53, 53, 53) 0.1rem solid;
   border-color: rgb(163,163,163);
   background: rgb(250,250, 250);
   margin: 2rem auto;
   padding: 0.5rem;
}

.Contact-info-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   margin: 1rem;
}

.Contact-info-container p{
   font-size: large;
}

.Contact-icon{
   cursor: default;
}

.email-icon{
   height: 2.5rem;
}

/* footer SECTION */

footer {
   height: 26vh;
   margin: 0.1rem;
}

footer p{
   text-align: center;
}

 /* //dark */

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

i{
font-size: 40px;
cursor: pointer;
position:absolute;
top: 12%;
left: 93%;
transform: translate(-50%, -50%);

}

/* چت  */
/* DARK MODE */

body.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
}



body.dark-mode .details-container,
body.dark-mode .Contact-info-upper-container,
body.dark-mode footer {
    background-color: #1e1e1e !important;
     border-color: #444 !important;
     
}

body.dark-mode a {
    color: #fff !important;
}

body.dark-mode a:hover {
    color: #bbbbbb !important;
    text-decoration-color: #777 !important;
}

body.dark-mode .hamburger-icon span {
    background-color: #fff !important;
}

body.dark-mode .btn-color-1,
body.dark-mode .btn-color-2 {
    border-color: #ddd !important;
    color: #fff !important;
}

/* body.dark-mode .btn-color-2:hover {
    border-color: #fff !important;
} */
 /* آیکن داخل منوی موبایل در حالت دسکتاپ پنهان شود */
#toggleDarkMobile {
    display: none;
}
@media (max-width: 768px) {
    #toggleDarkMobile {
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
        margin-top: 12px;
        margin-left: 50px;
    }
}
#toggleDark, 
#toggleDarkMobile {
    cursor: pointer;
}
.menu-links {
    background-color: white;
}

.dark-mode .menu-links {
    background-color: #222;  
}
.dark-mode {
    background-color: #121212;
    color: #ffffff;   /* این خط باعث میشود نوشته‌ها سفید باقی بمانند */
}

.dark-mode .project-title,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
    color: #ffffff !important;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode a {
    color: #ffffff;
}







